body{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
div{
    display: block;
}

/* header */
#header {
    height: auto;
    padding: 50px 0px 70px 0px;
    background-color: #fff9f4;
}
/* navbar start */
.custom-navbar{
    background-color:#fff9f4;
}
.shadow{
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}
.fixed-top{
position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index:1030;
}
.custom-logo{
    width: 15%;
}
.custom-highlight {
    color: #ff8367;
}

.custom-ul {
    text-align: center;
    background-color: #fff9f4;
}
.custom-li {
    font-weight: 500;
    padding: 0px 25px;
}
img{
    vertical-align: middle;
}
/* navbar end */